body{
  background-image: url("https://cdn.wallpapersafari.com/11/35/gMLSiY.jpg");
  background-color: none;
  background-size: cover;

}
h2{
  font-size: 40px;
  font-family: 'Crimson Text', serif;

}
